#Markdowns

In [1]:
##Markdowns

#markdown

# markdown
## markdown
### markdown

In [2]:
* *italic*

SyntaxError: invalid syntax (<ipython-input-2-9d986e03c5df>, line 1)

* *italic*

* **bold**

* ***bold and italic***

- Normal text

In [3]:
    - subtext1

NameError: name 'subtext1' is not defined

    - subtext1

    - subtext1

- Normal text
    - subtext1
    - subtext2

![image]https://www.google.com/imgres?imgurl=https%3A%2F%2Fi.udemycdn.com%2Fcourse%2F750x422%2F1817082_cf8a_9.jpg&imgrefurl=https%3A%2F%2Fwww.udemy.com%2Fcourse%2Fpython-beginner-to-advanced-with-web-scraping-projects%2F&tbnid=8pLHpXl2sur_qM&vet=12ahUKEwjVgOPJ05jmAhV0lHAKHUnYAoQQMygIegUIARCQAg..i&docid=R83VRdTWCddOiM&w=750&h=422&q=python%20programming&ved=2ahUKEwjVgOPJ05jmAhV0lHAKHUnYAoQQMygIegUIARCQAg

![image](https://www.google.com/imgres?imgurl=https%3A%2F%2Fi.udemycdn.com%2Fcourse%2F750x422%2F1817082_cf8a_9.jpg&imgrefurl=https%3A%2F%2Fwww.udemy.com%2Fcourse%2Fpython-beginner-to-advanced-with-web-scraping-projects%2F&tbnid=8pLHpXl2sur_qM&vet=12ahUKEwjVgOPJ05jmAhV0lHAKHUnYAoQQMygIegUIARCQAg..i&docid=R83VRdTWCddOiM&w=750&h=422&q=python%20programming&ved=2ahUKEwjVgOPJ05jmAhV0lHAKHUnYAoQQMygIegUIARCQAg)

![image]()

[1](https://drive.google.com/drive/my-drive)

[1](https://drive.google.com/drive/my-drive)

In [5]:
print("Hello,Gitam")
print("Hi")

Hello,Gitam
Hi

In [6]:
print("Hello", end="||")
print("good morning")

Hello||good morning

In [7]:
print("Hello", end="@")
print("good morning")

Hello@good morning

a = 10 # Single variable assignment
a, b, c = 1 # Multi variable assignment
a, b, c = 1,2,3 # Multi variable assignment with different values

In [10]:
a = "Python"
b = "p"
type(a)
c = 10
type(c)

int

In [11]:
a = 10
b = 10
print(id(a))
id(b)

1519503664

1519503664

In [12]:
a = 10.5
print(type(a))
id(a)

<class 'float'>

65754656

In [13]:
name = "abc"
age = "10"
print("My name is", name, "&age is:",age)

My name is abc &age is: 10

In [14]:
a,b,c ==7
print(a,b,c)

10.5 10 10

In [17]:
l,m,n =(10,20,30)
print(l,m,n)

10 20 30

In [18]:
a=b=c=7
print(a,b,c)

7 7 7

In [19]:
input("Enter the string")

Enter the stringPython

'Python'

In [20]:
b=input("enter a number")
type(b)

enter a number154

str

In [21]:
c=int(input("Enter a number"))
type(c)

Enter a number123

int

In [22]:
d=float(input("enter a number"))
type(d)

enter a number456

float

In [23]:
a=int(input("enter a number"))
b=int(input("enter a number"))
c=a+b
print(c)

enter a number12
enter a number34
46

In [24]:
a=float(input("enter a number"))
b=float(input("enter a number"))
c=a*b
print(c)

enter a number2.34
enter a number4.21
9.8514

In [25]:
x=10
print(x)
type(x)

10

int

In [26]:
y=1.2
print(y)
type(y)

1.2

float

In [27]:
z=2+3j
print(z)
type(z)

(2+3j)

complex

In [28]:
x=float(12)
x

12.0

In [29]:
y=complex(2,1)
y

(2+1j)

In [30]:
d=2+3j
e=2+5j
print(d+e)
print(d-e)
print(d*e)

(4+8j)
-2j
(-11+16j)

In [31]:
a=True
type(a)

bool

In [32]:
b=False
type(b)

bool

In [33]:
a>b

True

In [34]:
True>False

True

In [35]:
#Strings
s1= "abc"
s2='def'
print(s1)
s2

abc

'def'

In [36]:
type(s1)
type(s2)

str

In [37]:
i=100
print(type(i))

<class 'int'>

In [38]:
s1=str(i)
print(s1)
type(s1)

100

str

In [39]:
f1=float(i)
print(f1)
type(f1)

100.0

float

In [40]:
s="100"
print(type(s))

<class 'str'>

In [41]:
a=int(s)
type(a)

int

In [42]:
f=1.5
type(f)

float

In [43]:
a1=int(f)
type(a1)

int

In [44]:
a='1234'
len(a)

4

In [45]:
n1=2
n2=3
print(n1+n2)
print(n1-n2)
print(n1*n2)
print(n1/n2)
print(n1%n2)
print(n1//n2)
print(n1**n2)

5
-1
6
0.6666666666666666
2
0
8

In [46]:
4/2

2.0

In [47]:
4%2

0

In [48]:
4//2

2

In [49]:
4**2

16

In [50]:
12/5

2.4

In [51]:
-12/5

-2.4

In [52]:
-12//5

-3

In [53]:
x=2
y=3
print(x>=5 and x<10)
print(x>=5 or x<=10)
print(not(x))

False
True
False

In [54]:
x=2
y=3
print(x==y)
print(x!=y)
print(x<y)
print(x>y)
print(x<=y)
print(x>=y)

False
True
True
False
True
False

In [55]:
str1="abc"
print('a' in str1)
print('a' not in str1)

True
False

In [56]:
a=10
if a>0:
    print("positive")

positive

In [57]:
a=10
if a>0:
    print("positive")
else:
    print("negative")

positive

In [58]:
a=0
if a>0:
    print("positive")
else:
    print("negative")

negative

In [59]:
a=0
if a>0:
    print("positive")
elif a<0:
    print("negative")
else:
    print("zero")

zero

In [61]:
a=int(input("enter the number"))
if a>0:
    print("positive")
elif a<0:
    print("negative")
else:
    print("zero")

enter the number-4
negative